<!DOCTYPE html>
<html lang="en">
<!--vueJS简单指令的学习-->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    
    <div id="app">
        <p>{{msg}}</p>
        <input type="text" v-model="msg">
        <!-- <img v-bind:src="imgUrl">
        <img :src="imgUrl"> -->
        <H4>测试方法调用</H4>
        <input type="text" v-model="num">
        <button v-on:click="add">点击</button>
    </div>
    <div class="static" v-bind:class="classObject"></div>

    <ul id="example-1">
        <li v-for="item in items" :key="item.k1">
          {{ item.k1 }}
        </li>
     <span v-for="n in 10">{{ n }} </span>
     </ul>

     <div id="example-3">
        <button v-on:click="say('hi')">Say hi</button>
        <button v-on:click.once="say('what')">Say what</button>
      </div>


    <script src="../node_modules/vue/dist/vue.js"></script>
    <script type="text/javascript">
        var vm = new Vue({
            el: '#app',
            data: {
                msg: 'vue.js',
                imgUrl:'C:/Users/admin/Desktop/VueJS/logo.png',
                num:2
            },
            classObject: {
            active: true,
            'text-danger': false
            },
            methods:{
              add:function(){
              console.log("测试");
              vm.num++;
              }

            }

            
        })

        var example1 = new Vue({
  el: '#example-1',
  data: {
    items: [
      { k1: 'Foo' },
      { k2: 'Bar' },
      { k3: 'Boo' }
    ]
  }
})

new Vue({
  el: '#example-3',
  methods: {
    say: function (message) {
      alert(message)
    }
  }
})

    </script>

</body>

</html>